<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973922089251-svdkgvko0jodvf429iisk92mo2kuojjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973922089251-svdkgvko0jodvf429iisk92mo2kuojjv</string>
	<key>API_KEY</key>
	<string>AIzaSyCXzDWGIhXm7yoB1LX9npVqQDNw3fobHB0</string>
	<key>GCM_SENDER_ID</key>
	<string>973922089251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NAMGHJK.Instagram-clone</string>
	<key>PROJECT_ID</key>
	<string>instagramtest-d99c1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramtest-d99c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973922089251:ios:b102bb06702daff48db496</string>
</dict>
</plist>